# Quartus
Quartus_Projects/

# VCS / simulation outputs
*/csrc/
*/simv
*/simv.daidir/
*/DVEfiles/
*.vpd
*.vcd
*.log
*.key

# Backup files
*.bak

# hex files
*.hex
*.txt
*.pptx
*.asv

# Mac
.DS_Store

# VSCode
.vscode/